
.enter_value {
    width: 500px;
    height: 400px;
    display: flex;

    align-items: center;
    flex-direction: column;
    border: 4px solid #64c2d0;
    border-radius: 15px;
    user-select: none;
}
.input_container {
    width: 90%;
    height: 50%;
    border: 4px solid #64c2d0;
    border-radius: 15px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.input_group {
    display: flex;
    align-items: center;
    justify-content: center;
}
.p {
    color:#64c2d0;
    font-size:30px;
    font-weight: bold;
    margin-left: -50px;
    margin-right: 50px;
}
.input{

}

.btn{
    width: 90%;
    height: 40%;
    border-radius: 15px;
    border: 4px solid #64c2d0;
    margin:20px 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

