.input {
    padding: 10px 5px;
    margin-right: -50px;
    border: 3px solid #64c2d0;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    outline: none;
}
.error_input {
    padding: 10px 5px;
    margin-right: -50px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    outline: none;
    border: 3px solid red;
    background-color: rgba(236, 184, 184, 0.99);
}