.App {
}
.counter{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;

}
.App>button{
    display: block;
    margin: 20px 0 0 20px;
}
